* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(188, 181, 181);
  box-sizing: border-box;
}

.main {
  margin: 30px 40px;
}
.main__title {
  text-align: center;
  color: rgb(78, 76, 76);
}
.main__add {
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 15px;
  background-color: rgb(22, 10, 242);
  border: none;
  margin-top: 30px;
}
.main__add:hover {
  cursor: pointer;
  background-color: rgb(53, 43, 243);
}

.error {
  color: red;
  text-align: center;
}

.employees {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.employee {
  border-radius: 8px;
  border: 3px solid rgb(78, 76, 76);
  background-color: rgb(78, 76, 76);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  width: auto;
}
.employee:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.employee__number {
  width: 30px;
  text-align: left;
}
.employee__name {
  min-width: 350px;
}
.employee__role {
  width: 100px;
  text-align: center;
}
.employee__phone {
  width: 250px;
  text-align: center;
}
.employee__button {
  border-radius: 8px;
  padding: 7px 10px;
  color: rgb(78, 76, 76);
}
.employee__button:hover {
  cursor: pointer;
  background-color: #adb8c0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
  margin: 20px 0px;
}
.filters__title {
  color: rgb(78, 76, 76);
  font-size: 24px;
}
.filters__list {
  position: relative;
}
.filters__button {
  width: 145px;
  color: white;
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 15px;
  background-color: rgb(78, 76, 76);
  border: none;
}
.filters__button:hover {
  cursor: pointer;
  background-color: rgb(101, 99, 99);
}
.filters__box {
  position: absolute;
  background-color: rgb(101, 99, 99);
  width: 155px;
  border-radius: 15px;
  border: none;
  z-index: 1;
}
.filters__box_links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
}
.filters__box_item {
  color: white;
  font-size: 18px;
}
.filters__box_item:hover {
  text-decoration: underline;
}
.filters__box_chosen {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}
.filters__archive {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.filters__label {
  font-size: 18px;
  color: rgb(78, 76, 76);
}
.filters__label:hover {
  cursor: pointer;
}
.filters__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.filters__input:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.filters__input + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.filters__input + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 3px solid rgb(78, 76, 76);
  border-radius: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  margin-right: 5px;
}
.filters__input:hover {
  cursor: pointer;
}
.filters__input:checked {
  background-color: #e9e9e9;
  border-color: #adb8c0;
}

.modal {
  opacity: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: fixed;
  z-index: 6;
}
.modal__window {
  position: absolute;
  z-index: 7;
  left: calc(50% - 400px);
  top: 60px;
  opacity: 1;
  background-color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.modal__title {
  text-align: center;
  padding-bottom: 30px;
}
.modal__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.modal__input {
  padding: 10px 15px;
  border: 2px solid black;
  border-radius: 8px;
}
.modal__checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal__checkbox_input {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.modal__submit {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(22, 10, 242);
  color: white;
}
.modal__submit:hover {
  cursor: pointer;
  background-color: rgb(53, 43, 243);
}
.modal__submit:disabled {
  cursor: pointer;
  background-color: grey;
}
.modal__button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: rgb(22, 10, 242);
  color: white;
  margin-top: 20px;
  width: 100%;
}
.modal__button:hover {
  cursor: pointer;
  background-color: rgb(53, 43, 243);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .employee {
    font-size: 14px;
  }
  .employee__name {
    min-width: 180px;
  }
  .employee__phone {
    width: 150px;
  }
  .main__add {
    font-size: 16px;
  }
  .filters {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .filters__title {
    font-size: 20px;
  }
  .filters__button {
    font-size: 12px;
    padding: 5px 8px;
    width: 125px;
  }
  .filters__input + label::before {
    width: 15px;
    height: 15px;
  }
  .filters__box {
    width: 125px;
  }
  .filters__box_item {
    font-size: 14px;
  }
  .modal__window {
    left: calc(50% - 200px);
  }
}
@media (max-width: 767px) {
  .employee {
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
  }
  .employee__name {
    min-width: 180px;
  }
  .employee__phone {
    width: 150px;
    text-align: left;
  }
  .employee__role {
    text-align: left;
  }
  .main__add {
    font-size: 14px;
  }
  .filters {
    flex-direction: column;
  }
  .filters__title {
    font-size: 20px;
  }
  .filters__button {
    font-size: 12px;
  }
  .filters__input + label::before {
    width: 15px;
    height: 15px;
  }
  .filters__box {
    width: 145px;
  }
  .filters__box_item {
    font-size: 14px;
  }
  .modal__window {
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
  }
  .modal__input {
    font-size: 12px;
  }
}/*# sourceMappingURL=App.css.map */